In [1]:
import pandas as pd
import locale

locale.setlocale(locale.LC_TIME, 'pt_BR.UTF-8')

'pt_BR.UTF-8'

In [65]:
df = pd.read_csv('../csv/Teresina_locacao.csv')

In [66]:
df

,Data,Numero_Indice_Total,Var. mensal (%)Total,Var. em 12 meses (%)Total,Preço médio (R$/m²)Total
0,jan/22,100,"+1,29%",.,15
1,fev/22,"100,2","+0,22%",.,15
2,mar/22,"100,5","+0,28%",.,"15,1"
3,abr/22,"102,1","+1,64%",.,"15,3"
4,mai/22,105,"+2,79%",.,"15,8"
5,jun/22,"110,1","+4,82%",.,"16,5"
6,jul/22,"114,5","+4,07%",.,"17,2"
7,ago/22,"118,2","+3,23%",.,"17,7"
8,set/22,"119,6","+1,16%",.,"17,9"
9,out/22,"119,1","-0,46%",.,"17,9"
10,nov/22,"118,7","-0,27%",.,"17,8"
11,dez/22,"119,3","+0,45%","+20,81%","17,9"
12,jan/23,"120,9","+1,39%","+20,93%","18,1"
13,fev/23,"122,7","+1,46%","+22,43%","18,4"
14,mar/23,124,"+1,09%","+23,41%","18,6"
15,abr/23,"124,7","+0,56%","+22,10%","18,7"
16,mai/23,"124,8","+0,08%","+18,88%","18,7"
17,jun/23,"125,3","+0,40%","+13,87%","18,8"
18,jul/23,"127,5","+1,75%","+11,34%","19,1"
19,ago/23,"130,2","+2,09%","+10,12%","19,5"
20,set/23,"131,7","+1,19%","+10,15%","19,8"
21,out/23,"132,9","+0,90%","+11,65%","19,9"
22,nov/23,"134,2","+0,95%","+13,01%","20,1"
23,dez/23,"134,3","+0,10%","+12,62%","20,1"
24,jan/24,132,"-1,76%","+9,11%","19,8"
25,fev/24,"130,2","-1,36%","+6,08%","19,5"
26,mar/24,"132,6","+1,89%","+6,92%","19,9"
27,abr/24,"136,8","+3,16%","+9,69%","20,5"
28,mai/24,"139,6","+2,04%","+11,83%","20,9"
29,jun/24,"139,5","-0,07%","+11,31%","20,9"
30,jul/24,"138,4","-0,82%","+8,49%","20,8"
31,ago/24,"139,3","+0,69%","+7,00%","20,9"
32,set/24,"141,3","+1,41%","+7,24%","21,2"
33,out/24,"143,5","+1,60%","+7,98%","21,5"
34,nov/24,"145,6","+1,47%","+8,54%","21,8"
35,dez/24,"145,7","+0,03%","+8,47%","21,9"
36,jan/25,"146,3","+0,40%","+10,86%","21,9"
37,fev/25,"148,6","+1,61%","+14,19%","22,3"
38,mar/25,"152,1","+2,36%","+14,72%","22,8"
39,abr/25,"155,9","+2,46%","+13,95%","23,4"
40,mai/25,NaN,NaN,NaN,NaN

In [68]:
df['Numero_Indice_Total'] = df['Numero_Indice_Total'].str.replace(',','.', regex=False)
df['Numero_Indice_Total'] = df['Numero_Indice_Total'].astype('float')
df['Var. mensal (%)Total'] = df['Var. mensal (%)Total'].str.replace('%','', regex=False)
df['Var. mensal (%)Total'] = df['Var. mensal (%)Total'].str.replace(',','.', regex=False)

df['Var. mensal (%)Total'] = df['Var. mensal (%)Total'].astype('float')/100 
df['Var. em 12 meses (%)Total'] = df['Var. em 12 meses (%)Total'].str.replace('%','', regex=False)
df['Var. em 12 meses (%)Total'] = df['Var. em 12 meses (%)Total'].str.replace(',','.', regex=False)
df['Var. em 12 meses (%)Total'] = df['Var. em 12 meses (%)Total'].astype('float')/100 
df['Preço médio (R$/m²)Total'] = df['Preço médio (R$/m²)Total'].str.replace(',','.', regex=False)
df['Preço médio (R$/m²)Total'] = df['Preço médio (R$/m²)Total'].astype('float')
df['Data'] = pd.to_datetime(df['Data'],format='%b/%y')

In [67]:
df.replace(".", None, inplace=True)

In [69]:
df

,Data,Numero_Indice_Total,Var. mensal (%)Total,Var. em 12 meses (%)Total,Preço médio (R$/m²)Total
0,2022-01-01,100.0,0.0129,NaN,15.0
1,2022-02-01,100.2,0.0022,NaN,15.0
2,2022-03-01,100.5,0.0028,NaN,15.1
3,2022-04-01,102.1,0.0164,NaN,15.3
4,2022-05-01,105.0,0.0279,NaN,15.8
5,2022-06-01,110.1,0.0482,NaN,16.5
6,2022-07-01,114.5,0.0407,NaN,17.2
7,2022-08-01,118.2,0.0323,NaN,17.7
8,2022-09-01,119.6,0.0116,NaN,17.9
9,2022-10-01,119.1,-0.0046,NaN,17.9
10,2022-11-01,118.7,-0.0027,NaN,17.8
11,2022-12-01,119.3,0.0045,0.2081,17.9
12,2023-01-01,120.9,0.0139,0.2093,18.1
13,2023-02-01,122.7,0.0146,0.2243,18.4
14,2023-03-01,124.0,0.0109,0.2341,18.6
15,2023-04-01,124.7,0.0056,0.2210,18.7
16,2023-05-01,124.8,0.0008,0.1888,18.7
17,2023-06-01,125.3,0.0040,0.1387,18.8
18,2023-07-01,127.5,0.0175,0.1134,19.1
19,2023-08-01,130.2,0.0209,0.1012,19.5
20,2023-09-01,131.7,0.0119,0.1015,19.8
21,2023-10-01,132.9,0.0090,0.1165,19.9
22,2023-11-01,134.2,0.0095,0.1301,20.1
23,2023-12-01,134.3,0.0010,0.1262,20.1
24,2024-01-01,132.0,-0.0176,0.0911,19.8
25,2024-02-01,130.2,-0.0136,0.0608,19.5
26,2024-03-01,132.6,0.0189,0.0692,19.9
27,2024-04-01,136.8,0.0316,0.0969,20.5
28,2024-05-01,139.6,0.0204,0.1183,20.9
29,2024-06-01,139.5,-0.0007,0.1131,20.9
30,2024-07-01,138.4,-0.0082,0.0849,20.8
31,2024-08-01,139.3,0.0069,0.0700,20.9
32,2024-09-01,141.3,0.0141,0.0724,21.2
33,2024-10-01,143.5,0.0160,0.0798,21.5
34,2024-11-01,145.6,0.0147,0.0854,21.8
35,2024-12-01,145.7,0.0003,0.0847,21.9
36,2025-01-01,146.3,0.0040,0.1086,21.9
37,2025-02-01,148.6,0.0161,0.1419,22.3
38,2025-03-01,152.1,0.0236,0.1472,22.8
39,2025-04-01,155.9,0.0246,0.1395,23.4
40,2025-05-01,NaN,NaN,NaN,NaN

In [33]:
df.isnull().any()

Data                         False
Número-Índice-Total          False
Var. Mensal (%)Total         False
Var. em 12 meses (%)Total    False
Preço médio (R$/m²)Total     False
dtype: bool

In [31]:
print(df.dtypes)

Data                         datetime64[ns]
Número-Índice-Total                 float64
Var. Mensal (%)Total                float64
Var. em 12 meses (%)Total           float64
Preço médio (R$/m²)Total            float64
dtype: object

In [63]:
df = df.dropna(how='all', subset=['Numero_Indice_Total', 'Var. Mensal (%)Total', 'Var. em 12 meses (%)Total', 'Preço médio (R$/m²)Total'])

KeyError: ['Var. Mensal (%)Total']

In [70]:
df.to_csv('../data/dados_locacao_teresina_tratado.csv', index=False, sep=';', encoding='utf-8')