In [2]:
import pandas as pd
import locale

locale.setlocale(locale.LC_TIME, 'pt_BR.UTF-8')

'pt_BR.UTF-8'

In [27]:
df = pd.read_csv('../csv/Recife_Imoveis_Locacao.csv')

In [28]:
df.dtypes

Data                         object
Numero_Indice_Total          object
Var. Mensal (%)Total         object
Var. em 12 meses (%)Total    object
Preço médio (R$/m²)Total     object
dtype: object

In [29]:
df

,Data,Numero_Indice_Total,Var. Mensal (%)Total,Var. em 12 meses (%)Total,Preço médio (R$/m²)Total
0,jan/20,"120,3","+1,03%","+7,68%","31,4"
1,fev/20,"120,7","+0,36%","+6,65%","31,5"
2,mar/20,"121,7","+0,84%","+7,21%","31,8"
3,abr/20,"122,6","+0,70%","+7,58%",32
4,mai/20,"122,6","+0,03%","+7,34%",32
...,...,...,...,...,...
60,jan/25,"214,9","+1,12%","+15,64%","56,1"
61,fev/25,"217,2","+1,07%","+14,86%","56,7"
62,mar/25,"219,1","+0,87%","+14,69%","57,2"
63,abr/25,"221,3","+1,02%","+14,05%","57,7"
64,mai/25,NaN,NaN,NaN,NaN

In [32]:
df['Numero_Indice_Total'] = df['Numero_Indice_Total'].str.replace(',','.', regex=False)
df['Numero_Indice_Total'] = df['Numero_Indice_Total'].astype('float')
df['Var. Mensal (%)Total'] = df['Var. Mensal (%)Total'].str.replace('%','', regex=False)
df['Var. Mensal (%)Total'] = df['Var. Mensal (%)Total'].str.replace(',','.', regex=False)

In [34]:



df['Var. Mensal (%)Total'] = df['Var. Mensal (%)Total'].astype('float')/100 
df['Var. em 12 meses (%)Total'] = df['Var. em 12 meses (%)Total'].str.replace('%','', regex=False)
df['Var. em 12 meses (%)Total'] = df['Var. em 12 meses (%)Total'].str.replace(',','.', regex=False)
df['Var. em 12 meses (%)Total'] = df['Var. em 12 meses (%)Total'].astype('float')/100 
df['Preço médio (R$/m²)Total'] = df['Preço médio (R$/m²)Total'].str.replace(',','.', regex=False)
df['Preço médio (R$/m²)Total'] = df['Preço médio (R$/m²)Total'].astype('float')
df['Data'] = pd.to_datetime(df['Data'],format='%b/%y')

In [35]:
df.replace(".", None, inplace=True)

In [36]:
df

,Data,Numero_Indice_Total,Var. Mensal (%)Total,Var. em 12 meses (%)Total,Preço médio (R$/m²)Total
0,2020-01-01,120.3,0.0103,0.0768,31.4
1,2020-02-01,120.7,0.0036,0.0665,31.5
2,2020-03-01,121.7,0.0084,0.0721,31.8
3,2020-04-01,122.6,0.0070,0.0758,32.0
4,2020-05-01,122.6,0.0003,0.0734,32.0
...,...,...,...,...,...
60,2025-01-01,214.9,0.0112,0.1564,56.1
61,2025-02-01,217.2,0.0107,0.1486,56.7
62,2025-03-01,219.1,0.0087,0.1469,57.2
63,2025-04-01,221.3,0.0102,0.1405,57.7
64,2025-05-01,NaN,NaN,NaN,NaN

In [37]:
df.isnull().any()

Data                         False
Numero_Indice_Total           True
Var. Mensal (%)Total          True
Var. em 12 meses (%)Total     True
Preço médio (R$/m²)Total      True
dtype: bool

In [38]:
print(df.dtypes)

Data                         datetime64[ns]
Numero_Indice_Total                 float64
Var. Mensal (%)Total                float64
Var. em 12 meses (%)Total           float64
Preço médio (R$/m²)Total            float64
dtype: object

In [63]:
df = df.dropna(how='all', subset=['Numero_Indice_Total', 'Var. Mensal (%)Total', 'Var. em 12 meses (%)Total', 'Preço médio (R$/m²)Total'])

KeyError: ['Var. Mensal (%)Total']

In [39]:
df.to_csv('../data/dados_locacao_recife_tratado.csv', index=False, sep=';', encoding='utf-8')