In [11]:
import pandas as pd
import locale

locale.setlocale(locale.LC_TIME, 'pt_BR.UTF-8')

'pt_BR.UTF-8'

In [39]:
df = pd.read_csv('../data/Recife-Imoveis-Locacao.csv')
df['Número-Índice-Total'] = df['Número-Índice-Total'].str.replace(',','.', regex=False)
df['Número-Índice-Total'] = df['Número-Índice-Total'].astype('float')
df['Var. Mensal (%)Total'] = df['Var. Mensal (%)Total'].str.replace('%','', regex=False)
df['Var. Mensal (%)Total'] = df['Var. Mensal (%)Total'].str.replace(',','.', regex=False)
df['Var. Mensal (%)Total'] = df['Var. Mensal (%)Total'].astype('float')/100 
df['Var. em 12 meses (%)Total'] = df['Var. em 12 meses (%)Total'].str.replace('%','' ,regex=False)
df['Var. em 12 meses (%)Total'] = df['Var. em 12 meses (%)Total'].str.replace(',','.', regex=False)
df['Var. em 12 meses (%)Total'] = df['Var. em 12 meses (%)Total'].astype('float')/100 
df['Preço médio (R$/m²)Total'] = df['Preço médio (R$/m²)Total'].str.replace(',','.', regex=False)
df['Preço médio (R$/m²)Total'] = df['Preço médio (R$/m²)Total'].astype('float')

In [43]:
df

,Data,Número-Índice-Total,Var. Mensal (%)Total,Var. em 12 meses (%)Total,Preço médio (R$/m²)Total
0,2020-01-01,120.3,0.0103,0.0768,31.4
1,2020-02-01,120.7,0.0036,0.0665,31.5
2,2020-03-01,121.7,0.0084,0.0721,31.8
3,2020-04-01,122.6,0.0070,0.0758,32.0
4,2020-05-01,122.6,0.0003,0.0734,32.0
...,...,...,...,...,...
59,2024-12-01,212.5,0.0166,0.1617,55.4
60,2025-01-01,214.9,0.0112,0.1564,56.1
61,2025-02-01,217.2,0.0107,0.1486,56.7
62,2025-03-01,219.1,0.0087,0.1469,57.2
63,2025-04-01,221.3,0.0102,0.1405,57.7

In [33]:
df.isnull().any()

Data                         False
Número-Índice-Total          False
Var. Mensal (%)Total         False
Var. em 12 meses (%)Total    False
Preço médio (R$/m²)Total     False
dtype: bool

In [35]:
print(df['Var. Mensal (%)Total'].head(30))

0     0.0103
1     0.0036
2     0.0084
3     0.0070
4     0.0003
5    -0.0059
6    -0.0041
7     0.0014
8     0.0030
9     0.0056
10    0.0077
11    0.0117
12    0.0088
13    0.0116
14    0.0055
15    0.0039
16    0.0018
17    0.0028
18    0.0127
19    0.0181
20    0.0151
21    0.0114
22    0.0043
23    0.0107
24    0.0130
25    0.0196
26    0.0126
27    0.0235
28    0.0189
29    0.0209
Name: Var. Mensal (%)Total, dtype: float64

In [31]:
print(df.dtypes)

Data                         datetime64[ns]
Número-Índice-Total                 float64
Var. Mensal (%)Total                float64
Var. em 12 meses (%)Total           float64
Preço médio (R$/m²)Total            float64
dtype: object

In [41]:
df = df.dropna(how='all', subset=['Número-Índice-Total', 'Var. Mensal (%)Total', 'Var. em 12 meses (%)Total', 'Preço médio (R$/m²)Total'])

In [44]:
df.to_csv('../data/dados_locacao_tratado.csv', index=False, sep=';', encoding='utf-8')